<div class="outerDiv">
    <div class="header">
        <span class="Img">
            <img src="../../../../assets/book.png " class="IMg" style="width:15% ; padding-right: 10px;">
        </span>
        <span class="BookStore"><b>Bookstore</b></span>
    </div>
    <div class="bottomDiv">
        <div class="InnerDiv">
            <div class="heading">Reset Password </div>
            <div class="box">
                <div class="upperbox">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <div>
                            <div class="para">Enter your new password.
                            </div>
                            <div class="NPassword">
                                <span class="smallTxt"><b>New Password</b></span>
                                <input type="text" class="newpassword" style="width:100% ; height: 25px;"
                                    formControlName="Email">
                            </div>
                            <div class="submit">
                                <button mat-flat-button class="Submit" color="white"
                                    style="background:#A03037;width:100%; height:40px;border-radius: 3px; border:none;">Submit
                                    </button>
                            </div>
                        </div>
                    </form>
                    </div>
                <div class="bottombox">
                    <button mat-flat-button style="width:100%;height:100%; font-size: large; font-weight: bold;">Create
                        Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
