<div class="outer" *ngFor="let book of childMessage">
    <div class="left">
        <span class="BookImg"><img src="{{book.bookImg}}"></span>
        <div class="details">
            <div class="title">{{book.bookName}}</div>
            <div style="font-size:small;opacity:0.5;padding-bottom: 10px;">by {{book.authorName}}</div>
            <div>
                <span style="font-size:larger;padding-right: 10px;"><b>Rs.{{book.discountedPrice}}</b></span>
                <span style="font-size:smaller;opacity:0.5;"><s>Rs.{{book.actualPrice}}</s></span>
            </div>
        </div>
    </div>
    <div class="right">
        <button class="button">
            <img src="../../../../assets/trash.svg">
        </button>
    </div>
</div>