<div class="outer">
    <div class="bookImg">IMG</div>
    <div class="bottom">
        <div class="title">Title</div>
        <div class="author">by Author</div>
        <div class="ratingRow">
            <div class="Rating">
                <span class="rating">4.5</span>
                <img  src="../../../../assets/star_FILL0_wght300_GRAD-25_opsz20.svg" style="width:2vw">
            </div>
            <span class="rating_count">(20)</span>
        </div>
        <div>
            <span class="discountedPrice">2000</span>
            <span class="actualPrice">1000</span>
        </div>
    </div>
</div>