
    
    .header
    {
        display: flex;
    }
    .Footer
{
    display: flex;
    flex-direction: right;
    justify-self: left;
    padding-left: 13%;
    align-items: center;
    font-family:sans-serif;
    color: rgb(255, 255, 255);
    background-color: #2E1D1E;
    font-size: small;

    height:8vh;
}